@model Model.Productos

@{
    ViewData["Title"] = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>create</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COD_PRODUCTO" class="control-label"></label>
                <input asp-for="COD_PRODUCTO" class="form-control" />
                <span asp-validation-for="COD_PRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRODUCTO" class="control-label"></label>
                <input asp-for="PRODUCTO" class="form-control" />
                <span asp-validation-for="PRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOSIS" class="control-label"></label>
                <input asp-for="DOSIS" class="form-control" />
                <span asp-validation-for="DOSIS" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ENTRATAMIENTO" /> @Html.DisplayNameFor(model => model.ENTRATAMIENTO)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MEDICO_PRESCRIPTOR" class="control-label"></label>
                <input asp-for="MEDICO_PRESCRIPTOR" class="form-control" />
                <span asp-validation-for="MEDICO_PRESCRIPTOR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CODIGO_VEEVA" class="control-label"></label>
                <input asp-for="CODIGO_VEEVA" class="form-control" />
                <span asp-validation-for="CODIGO_VEEVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ESPECIALIDAD_MEDICO_PRESCRIPTOR" class="control-label"></label>
                <input asp-for="ESPECIALIDAD_MEDICO_PRESCRIPTOR" class="form-control" />
                <span asp-validation-for="ESPECIALIDAD_MEDICO_PRESCRIPTOR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHA_ALTA_PRODUCTO" class="control-label"></label>
                <input asp-for="FECHA_ALTA_PRODUCTO" class="form-control" />
                <span asp-validation-for="FECHA_ALTA_PRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
